:root
{
    --color-white: 255, 255, 255;
    --color-black: 0, 0, 0;
    --color-grey: 52, 58, 64;
    --color-navy-blue: 69, 93, 122;
    --color-yellow: 255, 193, 7;
    --bg-white: 225, 232, 235;
}
*
{
    box-sizing: border-box;
    text-decoration: none;
}

body
{
    margin:  0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(var(--bg-white));
}

ul, ol, select
{
    margin:  0;
    padding: 0;
    list-style: none;
}
a
{
    color: currentColor;
}

input[type="date"]::-webkit-calendar-picker-indicator
{
    display: flex;
    margin: 0;
    width: 22.5em;
    opacity: 1;
    cursor: pointer;
    background-position: right;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}
input[type=number] { 
    appearance:      textfield;
    -moz-appearance: textfield;
}

.container
{
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
}
#header_main
{
    background: rgb(var(--color-grey));
    height: 50px;
}
.menu-content
{
    position: relative;
}
.menu-content,
.menu-content > .logo
{
    height: inherit;
}
.menu-content > .logo
{
    float: left;
    padding: 2px 0;
}
.menu-content > .logo a svg
{
    width: auto;
    height: 100%;
}
.logo g[id="My"] g:last-child
{
    fill: #FCD95E;
    fill: rgb(var(--color-yellow));
}
.logo g[id="My"] g:first-child,
.logo g[id="ABILITY"]
{
    fill: #fff;
    fill: rgb(var(--color-white));
}
.menu-content > .menu_link
{
    float: right;
    position: relative;
    height: 100%;
}
.menu-content > .menu_link > nav 
{
    display: flex;
    align-items: center;
    height: inherit;
}
.menu-content > .menu_link > nav li
{
    border-radius: .2em;
    margin-left: .5em;
    color: rgb(var(--color-white));
    text-transform: uppercase;
    font-weight: 600;
    font-size: .9em;
    position: relative;
    box-shadow: 0 0 0 #fff;
    transition: all 200ms ease-in-out;
}
.menu-content > .menu_link > nav li:first-child
{
    margin-left: 0;
}
.menu-content > .menu_link > nav li > a
{
    display: block;
    padding: .4em .8em;
}
.menu-content > .menu_link > nav li:hover
{
    background: rgb(var(--color-yellow));
    color: rgb(var(--color-grey));
}
.form_searching
{
    margin: 1% auto;
    width:    500px;
    height:    auto;
    font-size: 18px;

    user-select:         none;
    -ms-user-select:     none;
    -moz-user-select:    none;
    -webkit-user-select: none;
}
.form_searching details
{
    margin-bottom: 10px;
    text-align: center;
}
.form_searching details:last-child
{
    margin-bottom: 0;
}
.form_searching summary::marker
{
    color: currentColor;
}
.form_searching label
{
    position: absolute;
    display:     block;
    top:             50%;
    transform: translateY(-50%);
    margin-left:   10px;
    padding:     0 5px;
    transition: all 200ms ease-in-out;
    color: rgb(var(--color-grey), .522);
    cursor: text;
    z-index:         1;
}
.form_searching summary {
    display:                 flex;
    align-items:           center;
    cursor:               pointer;
    text-transform:     uppercase;
    color: rgb(var(--color-grey));
    font-size:              1.1em;
    font-weight:              900;
    padding:                  5px;
    border-radius:            3px;
    /*background: linear-gradient(to right, 
                                rgb(var(--color-grey)), 
                                rgb(var(--color-purple)));*/
    background: transparent;
}
details[open] summary
{
    background: rgb(var(--color-grey));
    color: rgb(var(--bg-white));
}
details span[class="m_icon"]
{
    display:                flex;
    width:                 1.2em;
    height:                1.2em;
    margin-right:           .2em;
    padding:              .150em;
    transform:    rotate(-90deg);
    transition: all 200ms ease-in-out;
}
details[open] span[class="m_icon"]
{
    transform:      rotate(0deg);
    transition: all 200ms ease-in-out;
}
span[class="m_icon"] > svg
{
    width:        auto;
    height:       100%;
    fill: currentColor;
}
.form_searching summary:hover
{
    background-color: rgb(var(--color-grey), .9);
    color:rgb(var(--bg-white));
}
.form_searching summary:active span[class="m_icon"] 
{
    animation: summ-effect 200ms ease-in-out;
}
@keyframes summ-effect
{
    0% {margin-right: .2em;}
    50% {margin-right: .6em;}
    100% {margin-right: .2em;}
}

details[open] summary ~ *
{
    animation: form-transition .5s ease-in-out;
}
@keyframes form-transition
{
    0%   {opacity: 0; margin-left: -10px;}
    100% {opacity: 1; margin-left: 0px;}
}

.form_searching input,
.form_searching select,
button[type="submit"]
{
    width: 100%;
    border-radius: 3px;
    padding: 10px 10px;
    font-size: .9em;
    outline: none;
    color: rgb(var(--color-grey));
    border: 1px solid rgb(var(--color-navy-blue), .5);
    background: transparent;
}
.form_searching details > div > ul > li:nth-child(3) input
{
    border-radius: 0 0 3px 3px;
}
.form_searching details > div > ul:first-child li input
{
    border-radius: 3px;
}
.form_searching input:focus,
.form_searching select:focus
{
    color: rgb(var(--color-black), .643);
}
input:focus + label,
input:not(:placeholder-shown) + label,
select:focus + label,
select:not(:placeholder-shown) + label
{
    transform: translateY(-.5em);
    margin-left:   5px;
    border-radius: 5px;
    color: rgb(var(--color-navy-blue));
    font-weight: 900;
    top: 0;
    cursor: default;
}
.form_searching label,
input:focus + label,
input:not(:placeholder-shown) + label,
select:focus + label,
select:not(:placeholder-shown) + label
{
    background: rgb(var(--bg-white));
}
.form_searching select
{
    cursor: pointer;
}
.form_searching select option
{
    font-size: 1.4em;
    color: rgb(var(--color-yellow), .522);
    background: rgb(var(--color-grey));
}
.form_searching details div ul
{
    position: relative;
    margin-top: 10px;
    padding-top: 20px; 
    padding-bottom: 10px;
    padding-left: 5px; 
    padding-right: 5px;
}
.form_searching details div ul:first-child
{
    margin-top: 0;
    padding-top: 10px;
}
.form_searching details div ul:first-child .line-list
{
    display: none;
}
.form_searching li
{
    position: relative;
    margin-bottom: 15px;
}
.form_searching div ul li:nth-child(2)
{
    margin-top: 10px;
}
.line-list
{
    opacity: .1;
    background: rgb(var(--color-navy-blue));
    border-radius: 1em;
    position: absolute;
    width: 8em;
    height: .2em;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.line-list::after,
.line-list::before
{
    content: '';
    position: absolute;
    width: .3em;
    height: .3em;
    top: -.35em;
    background: transparent;
    border: .3em solid rgb(var(--color-navy-blue));
    transform: rotate(45deg);
}
.line-list::after
{
    left: -.9em;
}
.line-list::before
{
    right: -.9em;
}
.btn_remove
{
    height: 1.5em;
    font-size: 1em;
    padding: 3px 0;
    border-radius: 3px 3px 0 0;
    background-color: rgb(var(--color-navy-blue));
    color: rgb(var(--bg-white));
}
.btn_remove > a
{
    transition: all 200ms ease-in-out;
    margin-right: .1em;
    height: 100%;
    float: right;
}
.btn_remove > a div
{
    float: left;
    display: flex;
    height: inherit;
    align-items: center;
}
.btn_remove > a div:first-child
{
    border-radius: 0.09em;
    overflow: hidden;
}
.btn_remove > a div:last-child
{
    margin-left: -2em;
    margin-right: .3em;
    display: none;
    opacity: 1;
}
.btn_remove > a:hover div:last-child
{
    animation: delet_form 200ms ease-in-out;
    text-transform: lowercase;
    margin-left: .2em;
    display: flex;
    opacity: 1;
}
@keyframes delet_form
{
    from  {margin-left: -2em;opacity: 0;display: none;}
    to    {margin-left: .2em;opacity: 1;display: flex;}
}
.btn_remove > a:hover
{
    background: rgba(var(--color-white), .4);
    border-radius: 3px;
}
.btn_remove svg
{
    width: auto;
    height: inherit;
    fill: currentColor;
}
.btn_remove svg:last-child
{
    display: none;
    opacity: 0;
}
.btn_remove > a:hover svg:first-child
{
    display: none;
}
.btn_remove > a:hover svg:last-child
{
    display: block;
    opacity: 1;
}
.btn_add
{
    display: inline-block;
    margin: 10px 0;
    color: rgb(var(--color-navy-blue));
    padding: 5px 10px;
    border-radius: 2px;
    border: 1px solid rgb(var(--color-navy-blue));
    background: transparent;
}
.btn_add:hover
{
    background: rgb(var(--color-navy-blue));
    border-color: transparent;
    color: rgb(var(--bg-white));
}

.form_searching details div ul:first-child .btn_remove
{
    display: none;
}

button[type="submit"]
{
    position: relative;
    display: flex;
    justify-content: center;
    margin: .5em 0 0 0;
    font-weight: 600;
    letter-spacing: .2em;
    color: rgb(var(--color-white));
    text-transform: uppercase;
    background: rgb(var(--color-grey));
    transition: all 200ms ease-in-out;
    cursor: pointer;
    z-index: 1;
}
button[type="submit"]::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: all 200ms ease-in-out;
    background: rgb(var(--color-black), .2);
    z-index: -1;
}
button[type="submit"]:hover
{
    transform: scale(0.97);
    -o-transform: scale(0.97);
    -moz-transform: scale(0.97);
    -webkit-transform: scale(0.97);
}
button[type="submit"]:hover::after
{
    opacity: 1;
}
button[type="submit"] span
{
    height: 1em;
    margin-right: .5em;
}
button[type="submit"] span svg
{
    width: auto;
    height: 100%;
    fill: rgb(var(--color-yellow));
}
@media only screen and (max-width:900px)
{
    .container
    {
        max-width: 720px;
    }
}
@media only screen and (max-width:720px)
{
    .container
    {
        max-width: 100%;
    }
    #header_main
    {
        height: 80px;
    }
    .menu-content > .logo
    {
        margin-left: .4em;
    }
    #content_main
    {
        margin-top: 1;
        margin: 0 10px;
    }
    .form_searching
    {
        margin: 5% auto;
        width:    100%;
        font-size: 24px;
    }
    .form_searching summary
    {
        padding: 10px 5px;
    }
    .form_searching input, 
    .form_searching select
    {
        padding: 18px;
        font-size: .9em;
    }
}